<% if (prostava.is_request) { %><%= LocaleUtils.getActionReplyText(i18n, ACTION.PROSTAVA_POLLING) %>
<%} else if (prostava.is_preview) { %><%= LocaleUtils.getActionReplyText(i18n, ACTION.PROSTAVA_COMING) %>
<%} else { %><%= LocaleUtils.getActionReplyText(i18n, ACTION.PROSTAVA_RATING) %>
<% } %><% users.forEach(function(user){ %><a href="<%= user.user_link %>"><%= user.personal_data.emoji %></a><% }); %>