<%= user.personal_data.emoji %> <a href="<%= user.user_link %>"><%= user.personal_data.name %></a> 
<%= user.user_zodiac %> <%= DateUtils.getDateString(i18n.languageCode, user.personal_data.birthday) %>